*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
header{
    border: red 3px solid;
}
.header-div{
    display: flex;
    margin: 10px auto;
    border: violet 3px solid;
    height: 100px;
    width: 100%;
    align-items: center;
    text-align: center;
}
p{
    border:solid 2px blue;
    padding: 20px;
    align-items: center;
    width: 60%;
}