*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}

header{
    border: 2px solid red;
    width: 100%;
    height: auto;
    margin: auto;
}
.header-div{
    border: 2px solid salmon;
    margin: auto;
    height: auto;
}
.header-div-language{
    display: flex;
    flex-direction: row;
}
.lang{
    width: 26px;
    height: 18px;
    margin: 10px;
}
